/*SCSS to make my life easy*/
/*The background*/
.container {
  background: #333;
  height: 100vh;
  display: flex;
}

/*The Object*/
.object {
  background-color: #FFFF00;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  animation-name: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/*The animation*/
@keyframes myAnimation {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #FFFF00;
    box-shadow: 0px 0px 100px #FFFF00;
  }
  100% {
    background-color: #333;
  }
}